:root {
  /* Colors */
  --primary-green: hsl(158, 36%, 37%);
  --primary-green-dark: hsl(158, 42%, 18%);
  --primary-green-dark-alpha: hsl(158, 42%, 18%, 0.8);
  --neutral-dark: hsl(212, 21%, 14%);
  --neutral-medium: hsl(228, 12%, 48%);
  --neutral-light: hsl(30, 38%, 92%);
  --neutral-white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-base: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;

  --fs-sm: 0.8rem;
  --fs-md: 1rem;
  --fs-lg: 1.8rem;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Spaces */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}

*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-base);
  background-color: var(--neutral-light);
}
.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm);
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.product-card__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.product-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background-color: var(--neutral-white);
}
.product-card__category {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--neutral-medium);
}
.product-card__title {
  width: 15ch;
  font-family: var(--ff-accent);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--neutral-dark);
}
.product-card__description {
  width: 30ch;
  font-size: var(--fs-md);
  line-height: 1.5;
  color: var(--neutral-medium);
}
.product-card__prices {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
.product-card__price--current {
  font-family: var(--ff-accent);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--primary-green);
}
.product-card__price--old {
  font-size: var(--fs-sm);
  text-decoration: line-through;
  color: var(--neutral-medium);
}
/* Button with icon cart */
.product-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);

  padding: var(--spacing-md);
  font-weight: var(--fw-bold);
  color: var(--neutral-white);
  background-color: var(--primary-green-dark);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.product-card__button-icon {
  width: 16px;
  height: 16px;
}
.product-card__button:hover,
.product-card__button:focus {
  background-color: var(--primary-green-dark-alpha);
}

.footer {
  padding: 1rem;
}
.footer__attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-sm);
  color: var(--neutral-medium);
}
.footer__attribution-link {
  text-decoration: none;
  color: var(--neutral-medium);
  cursor: pointer;
  transition: 0.3s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus {
  color: var(--primary-green-dark);
}

@media (min-width: 768px) {
  .product-card {
    flex-direction: row;
    max-width: 660px;
  }
  .product-card__image-container {
    width: 100%;
    display: block;
  }
  .product-card__content {
    gap: var(--spacing-lg);
  }
  .product-card__title {
    width: 10ch;
  }
  .product-card__description {
    width: 26ch;
  }
  .product-card__prices {
    margin-top: var(--spacing-md);
  }
}
