:root {
  /* Colors */
  --primary-green: hsl(158, 36%, 37%);
  --primary-green-dark: hsl(158, 42%, 18%);
  --primary-green-dark-alpha: hsl(158, 42%, 18%, 0.8);
  --neutral-dark: hsl(212, 21%, 14%);
  --neutral-medium: hsl(228, 12%, 48%);
  --neutral-light: hsl(30, 38%, 90%);
  --neutral-white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-base: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;

  --fs-base: 14px;
  --fs-xs: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  --fs-sm: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
  --fs-body: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  --fs-heading: clamp(1.75rem, 1.3rem + 1.8vw, 2.7rem);
  --fs-category: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);

  --fw-medium: 500;
  --fw-bold: 700;

  /* Gap */
  --gap-md: clamp(0.857rem, 0.9rem + 0.3vw, 1.143rem); /* 12px 1 16px */
  --gap-lg: clamp(1.143rem, 1.1rem + 0.4vw, 1.714rem); /* 16px - 24px */

  /* Spacing */
  --spacing-sm: clamp(0.571rem, 0.6rem + 0.2vw, 0.857rem); /* 8px - 12px */
  --spacing-md: clamp(0.857rem, 0.9rem + 0.3vw, 1.143rem); /* 12px - 16px */
  --spacing-lg: clamp(1.143rem, 1.2rem + 0.5vw, 1.714rem); /* 16px - 24px */
  --spacing-xl: clamp(1.714rem, 1.5rem + 0.8vw, 2.286rem); /* 24px - 32px */

  /* Border Radius */
  --border-radius-sm: 10px;

  /* Box Shadows */
  --shadow-subtle: 0 4px 12px rgba(0, 0, 0, 0.1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--fs-base);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-base);
  background-color: var(--neutral-light);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  padding: var(--spacing-md);
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: min(22.8rem, 90vw);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  box-shadow: var(--shadow-subtle);
}
.product-card__image-container {
  width: 100%;
  display: block;
}
.product-card__image {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  min-height: 17.14rem;
}
.product-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  padding: var(--spacing-xl);
  flex-grow: 1;
  background-color: var(--neutral-white);
}
.product-card__category {
  font-size: var(--fs-category);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--neutral-medium);
}
.product-card__title {
  font-family: var(--ff-accent);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  color: var(--neutral-dark);
  max-width: 15ch;
}
.product-card__description {
  font-size: var(--fs-body);
  line-height: 1.7;
  color: var(--neutral-medium);
  max-width: 32ch;
}
.product-card__prices {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}
/* Utilities for accesibility - spans for prices */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.product-card__price--current {
  font-family: var(--ff-accent);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  color: var(--primary-green);
}
.product-card__price--old {
  font-size: var(--fs-sm);
  text-decoration: line-through;
  color: var(--neutral-medium);
}
/* Button with icon cart */
.product-card__button {
  display: flex; /* Center icon and text button */
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);

  padding: var(--spacing-md);

  font-size: var(--fs-xs);
  font-weight: var(--fw-bold);
  color: var(--neutral-white);
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--primary-green);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-card__button-icon {
  width: 1.16rem;
  height: 1.16rem;
}
.product-card__button:hover,
.product-card__button:focus-visible {
  background-color: var(--primary-green-dark-alpha);
}

.footer {
  padding: var(--spacing-md);
  text-align: center;
}
.footer__attribution {
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  color: var(--primary-green-dark);
}
.footer__attribution-link {
  font-size: var(--fs-xs);
  text-decoration: none;
  color: var(--primary-green-dark);
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
.footer__attribution-link:hover,
.footer__attribution-link:focus-visible {
  color: var(--primary-green);
  text-decoration: underline;
}

@media (min-width: 48em) {
  .product-card {
    flex-direction: row;
    max-width: min(47.8rem, 90vw);
  }
  .product-card__image-container {
    flex: 1.2;
  }
  .product-card__image {
    height: 100%;
    block-size: 100%;
  }

  .product-card__content {
    flex: 1;
    justify-content: center;
  }
  .product-card__title {
    max-width: 10ch;
  }
  .product-card__description {
    max-width: 26ch;
  }
  .product-card__prices {
    margin-block-start: var(--spacing-md);
  }
}
@media (prefers-reduced-motion: reduce) {
  .product-card__button,
  .footer__attribution-link {
    transition-duration: 0.01ms;
  }
}
